In [1]:
import pandas as pd
import numpy as np

In [2]:
df =  pd.DataFrame()

In [3]:
df

Empty DataFrame
Columns: []
Index: []

In [4]:
df['abc']=[1,2,3,5,7,8,111,5,3,124.7,8]

In [5]:
df

      abc
0     1.0
1     2.0
2     3.0
3     5.0
4     7.0
5     8.0
6   111.0
7     5.0
8     3.0
9   124.7
10    8.0

In [7]:
 Q1 = np.nanquantile(df['abc'], 0.25) # 25th quantile

In [8]:
Q1

3.0

In [9]:
Q3 = np.nanquantile(df['abc'], 0.75)

In [10]:
Q3

8.0

In [11]:
IQR=Q3-Q1

In [12]:
IQR

5.0

In [13]:
Lower_Whisker = Q1 - 1.5*IQR  #define lower whisker
Upper_Whisker = Q3 + 1.5*IQR  # define upper Whisker

In [14]:
Lower_Whisker

-4.5

In [15]:
Upper_Whisker

15.5

In [16]:
df['abc'] = np.clip(df['abc'], Lower_Whisker, Upper_Whisker)

In [17]:
df

     abc
0    1.0
1    2.0
2    3.0
3    5.0
4    7.0
5    8.0
6   15.5
7    5.0
8    3.0
9   15.5
10   8.0